.ertong1{ background:url("ertong1.png") top left no-repeat; }
.jianzhu_r12_c3{ width:16px; height:16px; background-position:-10px -10px; }
.jianzhu_r10_c3{ width:16px; height:16px; background-position:-10px -36px; }
.jianzhu_r8_c4{ width:16px; height:16px; background-position:-10px -62px; }
.jianzhu_r4_c3{ width:18px; height:15px; background-position:-10px -88px; }
.jianzhu_r6_c2{ width:21px; height:14px; background-position:-10px -113px; }
.jianzhu_r2_c3{ width:16px; height:13px; background-position:-10px -137px; }

