.number{ background:url("number.png") top left no-repeat; }
.jianzhu_r7_c7{ width:228px; height:93px; background-position:-10px -10px; }
.jianzhu_r15_c10{ width:230px; height:92px; background-position:-10px -113px; }
.jianzhu_r3_c7{ width:41px; height:41px; background-position:-10px -215px; }
.jianzhu_r14_c10{ width:80px; height:23px; background-position:-61px -215px; }
.jianzhu_r11_c8{ width:150px; height:16px; background-position:-10px -266px; }
.jianzhu_r6_c2{ width:18px; height:16px; background-position:-151px -215px; }
.jianzhu_r11_c8_1{ width:150px; height:15px; background-position:-10px -292px; }
.jianzhu_r4_c2{ width:16px; height:13px; background-position:-179px -215px; }

